p {
    text-align: center;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

img {
    width: -webkit-fill-available;
}

#home h2 {
    text-align: center;
}

#home-img {
    width: 50%;
    margin: auto;
}